<div class="sign-in">
    <form class="sign-in__form">
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
                matInput
                placeholder="example@example.com"
            />
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
                matInput
                [type]="hide ? 'password' : 'text'"
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
            >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>
